# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity
yarn.lock

# dotenv environment variables file
.env
.env.test

# macos specific
.DS_Store

# svelte files
/.svelte-kit
/package
/build

.vercel
vercel.json
